<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296491893444-joqp8vla0nkph9ksctlkltjens20pglh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296491893444-joqp8vla0nkph9ksctlkltjens20pglh</string>
	<key>API_KEY</key>
	<string>AIzaSyD1j4eKcbRvuEy_iRTUmJUO64Fh5NJDS_g</string>
	<key>GCM_SENDER_ID</key>
	<string>296491893444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wall</string>
	<key>PROJECT_ID</key>
	<string>the-wall-c744b</string>
	<key>STORAGE_BUCKET</key>
	<string>the-wall-c744b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296491893444:ios:d73ff85a6dcae99a913f91</string>
</dict>
</plist>